<!doctype html>
<html lang="en">
	<head>
		<title>Gitreader</title>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
		<link rel="stylesheet" type="text/css" href="/index.css"> 
	<meta charset="UTF-8">
	<body>
	<div class="pure-g">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5">
    <h1>Gitreader</h1>
    <h3>You know it. Type a name and let's see what they've got.</h3>
		<form class="pure-form">
			<input class="pure-input-1" type="text" id="search" placeholder='username'>
			<!-- <button type="submit" class="pure-button pure-button-primary">Submit</button> -->
		</form>
		<template>
			<article>
				<ul>
					<li><a href="http://github.com/{{login}}"><img src="{{avatar_url}}" ></a></li>
					<li><strong> {{name}} </strong></li>
					<li>Repos: {{public_repos}}</li>
					<li>Location: {{location}}</li>
					<li>Email: <a href="mailto:{{email}}"> {{email}} </a></li>
				</ul>
			</article>
		</template>
		<main>
		</main>
		</div>
		<div class="pure-u-1-5"></div>
</div>
	</body>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/mustache.js"></script>
	<script>
	$(document).ready(function(){
		$('form').on('submit', function(event){
			event.preventDefault();
			var url = "https://api.github.com/users/" + $('#search').val() + '?access_token=e36c94d9874f7626262f92f36c9b78b35e8b50de'; 

			var user = $.get(url, function(data){
				var template = $('template').html();
				var rendered = Mustache.to_html(template, data);
				
				$('main').prepend(rendered);	
				}).fail(function(){
					alert("Couldn't find that user.");
				}).always(function(){
					$('form').val('');
				})
			})
		})
	</script>
</html>